# Streamlit app
streamlit
# Supabase client
supabase
# For .env support
python-dotenv
# For multi-lingual support
streamlit-i18n
streamlit
supabase
python-dotenv
pandas
requests

# Presidio + NLP
presidio-analyzer
presidio-anonymizer
spacy
